@import "helpers/_variables";
@import "helpers/_layout";

// Sale.html
.sale-banner {
	position: relative;
	display: flex;
	@media (max-width: 768px){
		padding-top: 50px;
	}
	
	&__img {
		width: 100%;
		height: 100%;
	}	
}		
.sale-info {
	display: flex;
	flex-direction: column;
	position: absolute;
	
	&_pos {
		left: 15%;
		top: 30%;

		@media (max-width: 768px){
			top: 40%;
		}

		@media (max-width: 576px){
			left: 0;
			top: 45%;
		}
	}

	&__title {
        color: $white-font-color;
        font-family: $font-monsterrat;
        font-size: 22px;
        font-weight: 400;

        @media (max-width: 576px) {
			line-height: 30px;
			text-align: center;
            }
        
        
        &_bold {
            color: $white-font-color;
            font-size: 22px;
            font-family: $font-monsterrat;
            font-weight: 700;
        }
        
    }

    &__text {
        color: #ffffff;
        font-family: $font-monsterrat;
        font-size: 15px;
        font-weight: 400;
        line-height: 23px;
        margin-top: 80px;

		@media (max-width: 768px){
			margin-top: 60px;
		}

        @media (max-width: 576px) {
            display: none;
            }
    }
}
    

#sale-banner-button {
    position: absolute;
    width: 45px;
    height: 45px;
    bottom: 20px;
    right: calc(50% - 22.5px);
    border: 1px solid rgba(192,192,192,0.3);
    transition: all  0.3s ease-in-out;
    border-radius: 50%;

    &:hover {
        border-color: $green-color;
    }

    &:hover::before {
        color: $green-color;
    }

    &::before{
        content: "\f107";
        position: absolute;
        top: calc(50% - 5px);
        right: calc(50% - 5px);
        font-family: FontAwesome;
        color:$white-font-color;
        font-size: 16px;
        opacity: 1;
        transition: all  0.3s ease-in-out;
    }
}

// Sales

.sales {
	display: flex;
	flex-direction: column;
	align-items: center;

	&__title {
		color: $main-black-color;
		font-family: $font-monsterrat;
		font-size: 22px;
		font-weight: 400;
		text-transform: uppercase;

		&_marg {
			margin: 35px 0 90px 0;
		}

		@media (max-width: 768px) {
			margin-bottom: 30px;
		}
	}

	&__box {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;

		@media (max-width: 1080px) {
			flex-wrap: nowrap;
			flex-direction: column;
		}
	}

	&__inner {
		display: flex;
		width: 525px;
		height: 447px;
		border: 1px solid rgba(43, 43, 43, 0.2);
		background-color: #ffffff;
		transition: all 0.3s ease-in-out;

		@media (max-width: 1141px) {
			margin-bottom: 30px;
		}

		@media (max-width: 576px) {
			width: 400px;
		}

		@media (max-width: 420px) {
			width: 350px;
		}

		@media (max-width: 320px) {
			width: 320px;
		}

		&:hover {
			border: 10px solid transparent;
			border-image: linear-gradient(132deg, #79c98d 0%, #316455 100%);
			border-image-slice: 1;
		}

		&_marg {
			margin-bottom: 30px;
		}
	}

	&__button {
		display: flex;
		justify-content: center;
		align-items: center;
		margin: 55px 0;
		width: 255px;
		height: 56px;
		border: 1px solid $main-black-color;
		color: $main-black-color;
		font-family: $font-monsterrat;
		font-size: 10px;
		font-weight: 500;
		letter-spacing: 0.7px;
		text-transform: uppercase;
		transition: all 0.3s ease-in-out;

		@media (max-width: 576px) {
			width: 150px;
			height: 40px;
			margin: 30px 0;
		}

		@media (max-width: 320px) {
			width: 140px;
		}

		&:hover {
			background-color: $green-color;
			color: $white-font-color;
		}

		&::after {
			content: "\f054";
			font-family: FontAwesome;
			margin-left: 15px;
			font-size: 15px;

			@media (max-width: 576px) {
				margin-left: 5px;
				font-size: 10px;
			}
		}
	}
}

sup {
	color: $main-black-color;
	font-family: $font-monsterrat;
	font-size: 10px;
	font-weight: 400;
}

.sales-info {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 100%;
	margin: 50px 30px;

	@media (max-width: 576px) {
		margin: 25px 10px;
	}

	&__row {
		display: flex;
		justify-content: space-between;

		@media (max-width: 576px) {
			flex-direction: column;

			&:last-child {
				flex-direction: row;
				justify-content: flex-start;
			}
		}

		&:nth-child(3) {
			justify-content: flex-start;
		}
		&:nth-child(4) {
			justify-content: flex-start;
		}

		&_style {
			color: $main-black-color;
			font-family: $font-monsterrat;
			font-size: 15px;
			font-weight: 400;
			@media (max-width: 576px) {
				margin: 5px 0;
			}
		}

		// &_superscript {
		//     color: $main-black-color;
		//     font-family: $font-monsterrat;
		//     font-size: 10px;
		//     font-weight: 400;
		// }
	}

	&__name {
		color: $green-color;
		font-family: $font-monsterrat;
		font-size: 15px;
		font-weight: 700;
		text-transform: uppercase;
	}

	&__button {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 255px;
		height: 56px;
		border: 1px solid $green-color;
		color: $green-color;
		font-family: $font-monsterrat;
		font-size: 10px;
		font-weight: 500;
		letter-spacing: 0.7px;
		text-transform: uppercase;
		transition: all 0.3s ease-in-out;

		@media (max-width: 576px) {
			width: 150px;
			height: 40px;
		}

		@media (max-width: 320px) {
			width: 140px;
		}

		&:hover {
			background-color: $green-color;
			color: $white-font-color;
		}

		&::after {
			content: "\f054";
			font-family: FontAwesome;
			margin-left: 15px;
			font-size: 15px;

			@media (max-width: 576px) {
				margin-left: 5px;
				font-size: 10px;
			}
		}
	}

	&__icon {
		@media (max-width: 576px) {
			max-width: 15px;
		}

		&_marg {
			margin-right: 25px;
		}
	}
}
